<footer>
  <div class="container">
    <div class="footer-part">
      <h3> Some Links</h3>
      <p> Blog</p>
      <p>Twitter2Email</p>
      <p>Professional Onboarding Services</p>
      <p> Premium Services</p>
      <p>Terms of Service</p>

    </div>
    <div class="footer-part">
      <h3> Contact Us</h3>
      <p> Emai us : Support@waitnahi.com</p>
      <p> Call : 888-253-01234!</p>

    </div>
    <div class="footer-part">
      <a href=""><img src="assets/images/Bitmap.png" alt="play store" width="193" /></a>
    </div>
    <h6 class="copyright-text">&copy; 2016 WaitNahi All rights reserved</h6>
  </div>
</footer>