    //footer section
    footer {
      float: left;
      width: 100%;
      background: #13686D;
      color: #fff;
      padding: 30px 0px;
      .container {
        .footer-part {
          float: left;
          width: 33%;
          h3 {
            font-size: 18px;
            margin-bottom: 20px;
          }
          p {
            font-size: 14px;
            line-height: 18px;
            color: #C7C7C7
          }
        }
        .copyright-text {
          float: left;
          width: 100%;
          text-align: center;
          font-size: 15px;
        }
      }
      .playlink {
        max-width: 100%;
      }
    }

    @media screen and (max-width: 767px) {
      footer {
        .container {
          .footer-part {
            width: 50%;
          }
        }
      }
    }
