#map {
  height: calc(100vh - 75px);
  width: 100%;
}

.container-fluid {
    position: relative;
    padding: 0;
}

.search-result {
    position: absolute;
    max-width: 390px;
    top: 0;
    z-index: 9;
    left: 0;
    padding: 5px;
    max-height: calc(100vh - 75px);
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
    padding-right: 0;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #aaaaab;
}
