<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        <img class="logo" src="assets/images/logo-black.png" alt="logo" />
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <img class="nav-icons" src="assets/images/Search.png" alt="search" />
            <input type="text" class="form-control" placeholder="Search Area, Services, Salons, Spas etc">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="playlink"><a href="#"><img class="nav-icons" src="assets/images/play_store.png" alt="playstore logo" />Get App</a></li>
          <li class="loginlink"><a href="#"><img class="nav-icons" src="assets/images/login.png" alt="login" />Login</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>
</header>
