header {
  background: #FFFFFF;
}

.logo {
  height: 50px;
}

.navbar-default {
  background: white;
  border-radius: 0;
  border-right: 0;
}

.navbar-brand {
  height: auto;
  padding: 15px 25px;
}

.navbar-collapse {
  .navbar-form {
    padding: 22px;
    border: 1px solid;
    margin: 0;
    border-bottom: 0;
    border-color: #e7e7e7;
    border-top: 0;
  }
  .navbar-form,
  .navbar-nav {
    font-size: 22px;
    color: #686868;
    height: 80px;
  }
  .nav-icons {
    height: 30px;
    padding-right: 10px;
    vertical-align: middle;
  }
}

@media (min-width: 768px) {
  .navbar-form {
    width: calc(100% - 470px);
    .form-group {
      width: 100%
    }
    input {
      width: calc(100% - 45px);
      border: none;
      box-shadow: none;
      font-size: 22px;
    }
  }
  .playlink {
    border: 1px solid;
    padding: 10px 10px;
    height: 80px;
    border-bottom: 0;
    border-color: #e7e7e7;
    border-top: 0;
    border-left: 0;
  }
  .loginlink {
    height: 80px;
    padding: 10px 10px;
  }
}
