<header>
  <div class="header-portion">
    <span class="site-logo-cover">
        <img src="assets/images/logo.png" alt="Page Logo" />
     </span>
    <p class="site-tile">Book Salon & Spa Appointments</p>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="search-box-cover">
        <!-- dropdown box  -->
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                              <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
        <!-- search box -->
        <div class="input-group stylish-input-group">
          <input type="text" class="form-control" placeholder="Search by area,service or brand">
          <span class="input-group-addon">
                          <button class="btn btn-primary" type="submit"> Search </button>       </span>
        </div>
      </div>
    </div>
    <!-- listed para -->
    <p class="list-para"> 13,364 listed spas & salons</p>
    <span class="mobile-image-cover"> 
            <img src="assets/images/mobile.png" alt="Mobile Image" />
          </span>
  </div>
</header>
<div class="container">
  <!-- how it works -->
  <div class="how-it-work-cover">
    <h3 class="how-it-title">How it Works</h3>
    <div class="coln-1 coln">

    </div>
    <div class="coln-2 coln">
      <img class="numbr" src="assets/images/1.png" alt="Number Flow icon" />
      <div class="download-the-app">
        <img src="assets/images/download.png" alt="Page Logo" />
        <h5 class="coln-title">Download the app</h5>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
          of </p>

      </div>
    </div>
    <div class="coln-3 coln">

      <div class="download-the-app">
        <img src="assets/images/scissors.png" alt="Page Logo" />
        <h5 class="coln-title">Choose Spa/Salon</h5>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
          of </p>

      </div>
    </div>
    <div class="coln-4 coln">
      <img class="numbr" src="assets/images/1.png" alt="Number Flow icon" />
    </div>
    <div class="coln-5 coln">

    </div>
    <div class="coln-6 coln">
      <img class="numbr" src="assets/images/1.png" alt="Number Flow icon" />
      <div class="download-the-app">
        <img src="assets/images/calendar.png" alt="Page Logo" />
        <h5 class="coln-title">Select your Schedule</h5>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
          of </p>

      </div>

    </div>

    <div class="thats-it-cover">
      <img class="numbr" src="assets/images/1.png" alt="Number Flow icon" />
      <h4>That's it!</h4>
      <p>Your appointment is now set.All you have to do is just how up on the time.<br>Loreum Ipsum dolor sit amet,consectetur
        adipisicing ehit,</p>
    </div>

  </div>
</div>
<!-- our recommedations cover -->
<div class="our-recom-cover clearfix">
  <h2>Our Recommendations</h2>
  <h5>Based on your location</h5>
  <app-saloon-list></app-saloon-list>
  <app-saloon-list></app-saloon-list>
  <app-saloon-list></app-saloon-list>
</div>
<!-- get the app on  -->
<div class="get-app-cover">
  <h5>Get the app on</h5>
  <img src="assets/images/Bitmap.png" alt="play store" width="193" />
  <h3> Got questions? Call 888-253-01234! </h3>
  <h6>&copy; 2016 WaitNahi All rights reserved</h6>

</div>
