header {
  max-width: 2880px;
  margin: auto;
  .header-portion {
    background: url('/assets/images/bg.jpg');
    background-size: cover;
    float: left;
    width: 100%;
    padding-top: 11%;
    .site-logo-cover {
      float: left;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      img {
        width: 22%;
      }
    }
    .site-tile {
      float: left;
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 58px;
      line-height: 74px;  
      margin-bottom: 25px;
      font-family: 'AvertaLight';
    } // search box
    .search-box-cover {
      float: left;
      width: 86%;
      background: #fff;
      border-radius: 40px;
      .input-group {
        float: left;
        width: 80%;
      }
      .dropdown {
        float: left;
        min-width: 20%;
        min-height: 44px;
        border-right: 1px solid #ccc;
        .btn-primary {
          color: #000;
          background-color: #fff;
          border: none;
          margin: 11px 0 0 11px;
          padding: 0;
        }
      }
      .stylish-input-group .input-group-addon {
        background: #13686D;
        border: none;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
      }
      .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border: none;
        padding: 10px 0 0 50px;
      }
      .stylish-input-group button {
        border: 0;
        background: transparent;
      }
    }
    .list-para {
      float: left;
      width: 100%;
      text-align: center;
      margin-top: 20px;
      color: #fff;
      font-size: 22px;
      line-height: 28px;
    }
    .mobile-image-cover {
      float: left;
      width: 100%;
      text-align: center;
      margin-top: 30px;
      position: relative;
      min-height: 390px;
      img {
        width: 20%;
        left: 40%;
        position: absolute;
      }
    }
  }
}

.container {
  .how-it-work-cover {
    float: left;
    width: 100%;
    margin-top: 150px;
    .how-it-title {
      float: left;
      width: 100%;
      text-align: center;
      font-size: 58px;
      line-height: 74px;
      margin-bottom: 40px;
    }
    .coln {
      float: left;
      width: 50%;
      min-height: 178px;
    }
    .coln:nth-child(even) {
      border-right: 1px solid #2FAEC1;
    }
    .coln-3.coln {
      border-left: 1px solid #ccc;
    }
    .coln-2,
    .coln-1 {
      min-height: 300px;
    }
    .coln-5.coln,
    .coln-6.coln {
      min-height: 225px !important;
    }
    .coln-2.coln .numbr {
      margin-left: -25px;
      background-color: #fff;
    }
    .coln-4.coln .numbr {
      margin-top: -72px;
      margin-left: -25px;
      background: #fff;
    }
    .coln-6.coln .numbr {
      margin-left: -25px;
      margin-top: 0;
    }
    .download-the-app {
      float: left;
      width: 100%;
      box-shadow: 0px 0px 1px rgba(143, 143, 143, 0.5);
      padding: 25px 20px;
      text-align: center;
      border-left: none;
      h5 {
          font-size: 16px;
          line-height: 20px;
      }
      p {
          font-size: 15px;
          line-height: 19px;
      }
      img {
        width: 7%;
      }
      .coln-title {
        font-weight: bold;
      }
    }
  }
  .thats-it-cover {
    float: left;
    width: 100%;
    text-align: center;
    h4  {
        font-size: 20px;
        font-weight: normal;
        line-height: 25px;
    }
    p {
        font-size: 15px;
        line-height: 19px;
    }
  } // our recommedations
  //get the app
}

.our-recom-cover {
  width: 100%;
  text-align: center;
  background: #FCFCFC;
  margin-top: 50px;
  margin: auto;
  padding: 30px 15px;
  h2 {
    font-size: 50px;
    line-height: 64px;
    margin-top: 0px;
    font-family: 'AvertaLight';
  }
  h5 {
    margin-bottom: 50px;
    font-size: 19px;
    line-height: 24px;
  }
}

.get-app-cover {
  background: #13686D;
  float: left;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 30px 0;
  margin-top: 40px;
  img {
    margin: 15px 0px
  }
  h5 {
    font-size: 20px;
    line-height: 25px;
  }
  h3 {
      font-weight: normal;
  }
  h6 {
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
  }
}
