.container{
    // estimate time cover
    .estimate-time-cover {
        float: left;
        width: 100%;
        padding: 0 20px;
        width: 100%;
        margin: 50px 0 0 0;
        .toni-guy-cover {
            float: left;
            width: 70%;
            .rounded-shape {
                float: left;
                width: 75px;
                background: #000;
                min-height: 75px;
                border-radius: 50px;
                margin-right: 15px;
                p {
                    color: #fff;
                    border: 1px solid #fff;
                    font-size: 10px;
                    float: left;
                    margin: 28px 9px;
                    padding: 0px 1px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            .toni-text {
                float: left;
                width:50%;
                img{
                    width: 10%;
                    margin-right: 5px;
                }
                h2{
                    margin: 0px;
                    float: left;   
                    font-weight: bold;
                }
                h6{
                    margin:0px;
                    float: left;
                    margin-top: 10px;
                    margin-left: 30px;
                }
                .adrs-cover {
                    float: left;
                    width: 100%;
                    margin: 10px 0 0 0;
                    p{
                        margin:0px;
                        float: left;
                        width: 100%;
                        font-weight: bold;
    
                    }
                    .glyphicon.glyphicon-earphone {
                        padding: 0 5px 0 3px;
                        font-size: 12px;
                    }
                    .glyphicon.glyphicon-map-marker {
                        margin: 0 3px 0 10px;
                    }
                }

                .fav-class{
                    margin:0px;
                    float: left;
                    border: 1px solid #2FAEC1;
                    width: 105px;
                    padding: 3px 0px;
                    margin: 10px;
                    color:#2FAEC1;
                    font-size: 11px;
                    font-weight: normal;
                    .glyphicon.glyphicon-heart {
                        color: #2FAEC1;
                        padding: 0 5px 0 15px;
                        font-size: 14px;
                    }

                }
            }
        }
        .est-wait {
            float: left;
            width: 30%;
            text-align: right;
            color: #777;
            .star-rev {
                float: left;
                text-align: right;
                width: 100%;
                img{
                    width:4%;
                    float: right;
                    margin-left: 4px;
                }
                p{
                    float: right;
                    margin: 0 0 5px 10px;
                    font-size: 11px;
                }
            }
            h5{
                float: right;
                margin: 0px;

            }
            h4{
                float: right;
                margin: 0px;
                color: #2FAEC1;
                margin: 6px 0 0 0;
                font-weight: bold;
             }
        }
    }
    //book an appointment
    .bool-appt-cover {
        float: left;
        width: 100%;
        border: 1px solid #ccc;
        min-height: 47px;
        margin: 20px 0 20px 0;        
        .dropdown.service-drop {
            float: left;
            width: auto;
            border-right: 1px solid #ccc;
            padding: 5px 15px 5px 12px;
            .dropdown-toggle.service-toggle {
                float: left;
                padding: 0 0 0 0px;
                cursor: pointer;
                font-size:15px;
                min-width: 151px;
                .glyphicon.glyphicon-chevron-down {
                    padding: 0 0 0 10px;
                }
            }
            p {
                font-size: 13px;
            }
        }
        .appnt-btn {
            background: #7CD7E3;
            float: left;
            padding: 20px 0px 20px 0px;
            color: #fff;
            border: none;
            width: 173px;;
        }

    }
    //service offered
    .services-offered {
        float: left;
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 30px;
        .beared-outer-cover{
            float: left;
            width:75%;
        .beard-styling-cover {
            float: left;
            width: 25%;
            margin:10px 0;
            .beard-cover {
                float: left;
                width: 100%;
                span {
                    float: left;
                    margin-right: 15px;
                }
                p {
                    float: left;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            .rup-time {
                float: left;
                width: 100%;
                p {
                    float: left;
                    margin: 0;
                    color: #ccc;
                    border: 1px solid #ccc;
                    padding: 0 18px;
                    font-weight: bold;
                    font-size: 11px;
                }
                p:nth-child(2){
                    margin-left:10px;
                }
            }
        }
        .service-offered-map {
            float: left;
            width: 20%;            
            margin-left: 57px;            
        }
    }
    } //services offered
    .about-this-salon-cover {
        float: left;
        width: 100%;
        margin-top: 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 30px;
         p {
            float: left;
            width: 75%;
        }
    }
    //reviews section cover
    .reviews-section-cover {
        float: left;
        width: 100%;
        margin-top: 50px;
        .show-reviews-count {
            float: left;
            width: 100%;
            margin-bottom: 40px;
            h3{
                float: left;
                margin-top:0px;
                margin-right: 15px;
            }
            img {
                float: left;
                width: 2%;
                margin-left: 7px;
            }
        }
        .reviewer-cover:nth-child(5){
            border:none;
        }
        .reviewer-cover {
            float: left;
            width: 100%;
            padding: 40px 0px;
            border-bottom: 1px solid #ccc;
            .reviewer-details {
                float: left;
                width: 100%;
                h3{
                    float: left;
                    margin-top:0px;
                    margin-right: 15px;
                }
                p{
                    float: left;
                    margin-top: 4px;
                    color:#777;
                }
            }
            p{
                float: left;
                color:#777;
            }
        }
        .load-more{
            float: left;
            width:100%;
            text-align: center;
            color:#2FAEC1;
        }        
    }
    //book a appoitment
    .btn {
        cursor: default;
        background-color: #FFF;
        border-radius: 4px;
        text-align: left;
    }
    
    .caret {
        position: absolute;
        right: 16px;
        top: 16px;
    }
    
    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        background-color: #FFF;    
    }
    
    .btn-group.open .dropdown-toggle {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)
    }
    
    // .btn-group {width: 100%}
    .dropdown-menu {width: 100%;}

}

