<app-header></app-header>
<div class="container">
<app-slider></app-slider>
</div>
<br />
<div class="container hide">
  <!-- estimate wait time -->
  <div class="estimate-time-cover">
    <div class="toni-guy-cover">
      <span class="rounded-shape"> <p>Toni&guy</p> </span>
      <div class="toni-text">
        <h2>Toni & Guy</h2>
        <h6>Recommended</h6>
        <p>+31 3542 375478 S17, 12th Floor, Lulu Mall,Cochin</p>
        <p class="fav-class">Favorite </p>
      </div>

    </div>
    <div class="est-wait">
      <span class="star-rev">
                            <img src="assets/images/star_small.png" alt="star review" />
                            <img src="assets/images/star_small.png" alt="star review" />
                            <img src="assets/images/star_small.png" alt="star review" />
                            <img src="assets/images/star_small.png" alt="star review" />
                            <img src="assets/images/star_small.png" alt="star review" />
                            <p>75 Reviews</p> 
                    </span>
      <h5> Estimated wait time <b>    08:12</b> </h5>
      <h4 class="opn-tday"> Open Today 9AM - 9PM</h4>

    </div>
  </div>

  <!-- book appointment -->
  <div class="bool-appt-cover">
    <div class="btn-group">
      <span class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Select Business type
                            </span>

      <ul class="dropdown-menu" role="menu">
        <li><a href="#">small</a></li>
        <li><a href="#">medium</a></li>
        <li><a href="#">large</a></li>
      </ul>
    </div>
    <!-- 2 -->
    <div class="btn-group">
      <button type="button" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Select Business type <span class="caret"></span>
                                </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">small</a></li>
        <li><a href="#">medium</a></li>
        <li><a href="#">large</a></li>
      </ul>
    </div>
    <!-- 3 -->
    <div class="btn-group">
      <button type="button" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Select Business type <span class="caret"></span>
                                    </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">small</a></li>
        <li><a href="#">medium</a></li>
        <li><a href="#">large</a></li>
      </ul>
    </div>
    <!-- 4 -->
    <div class="btn-group">
      <button type="button" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            Select Business type <span class="caret"></span>
                                        </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">small</a></li>
        <li><a href="#">medium</a></li>
        <li><a href="#">large</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-primary">Primary</button>

  </div>

  <div class="services-offered">
    <div class="beared-outer-cover">
      <h2>Services Offered</h2>
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                            <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                <p>INR 300</p>
                                <p>30 Mins</p>
                            </span>
      </div>
      <!-- 2 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                    <p>INR 300</p>
                                    <p>30 Mins</p>
                                </span>
      </div>
      <!-- 3 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                    <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                        <p>INR 300</p>
                                        <p>30 Mins</p>
                                    </span>
      </div>
      <!-- 4 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                        <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                            <p>INR 300</p>
                                            <p>30 Mins</p>
                                        </span>
      </div>
      <!-- 5 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                            <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                                <p>INR 300</p>
                                                <p>30 Mins</p>
                                            </span>
      </div>
      <!-- 6 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                                <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                                    <p>INR 300</p>
                                                    <p>30 Mins</p>
                                                </span>
      </div>
      <!-- 7 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                                    <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                                        <p>INR 300</p>
                                                        <p>30 Mins</p>
                                                    </span>
      </div>
      <!-- 8 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                                        <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                                            <p>INR 300</p>
                                                            <p>30 Mins</p>
                                                        </span>
      </div>
      <p class="plus-more"> +8 more</p>

    </div>
  </div>
  <!-- about this salon -->
  <div class="about-this-salon-cover">
    <h2> About this Salon/Spa</h2>
    <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
      survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
      survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
  <!-- Reviews section -->
  <div class="reviews-section-cover">
    <span class="show-reviews-count"> <h3> 75 Reviews </h3>
                        <img src="assets/images/star_small.png" alt="star review" />
                        <img src="assets/images/star_small.png" alt="star review" />
                        <img src="assets/images/star_small.png" alt="star review" />
                        <img src="assets/images/star_small.png" alt="star review" />
                        <img src="assets/images/star_small.png" alt="star review" />
                    </span>
    <div class="reviewer-cover">
      <span class="reviewer-details"> <h3>John Doe </h3><p>12 September 2016 </p></span>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <!-- 2 -->
    <div class="reviewer-cover">
      <span class="reviewer-details"> <h3>John Doe </h3><p>12 September 2016 </p></span>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <!-- 3 -->
    <div class="reviewer-cover">
      <span class="reviewer-details"> <h3>John Doe </h3><p>12 September 2016 </p></span>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <!-- 4 -->
    <div class="reviewer-cover">
      <span class="reviewer-details"> <h3>John Doe </h3><p>12 September 2016 </p></span>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <!-- load more -->
    <p class="load-more"> Load More</p>
  </div>
</div>
<app-footer></app-footer>
