<app-header></app-header>
<app-slider></app-slider>
<div class="container">

</div>
<br />
<div class="container">
  <!-- estimate wait time -->
  <div class="estimate-time-cover">
    <div class="toni-guy-cover">
      <span class="rounded-shape"> <p>Toni&guy</p> </span>
      <div class="toni-text">
        <h2>Toni & Guy</h2>
        <h6><img src="assets/images/recommend.png" alt="recommend badge" />Recommended</h6>
        <span class="adrs-cover">
          <p><span class="glyphicon glyphicon-earphone"></span>+31 3542 375478  <span class="glyphicon glyphicon-map-marker"></span>S17, 12th Floor, Lulu Mall,Cochin</p>
        </span>
        <p class="fav-class">  <span class="glyphicon glyphicon-heart"></span>Favorite </p>
      </div>

    </div>
    <div class="est-wait">
      <span class="star-rev">
                          <p>75 Reviews</p> 
                            <img src="assets/images/star_small.png" alt="star review" />
                            <img src="assets/images/star_small.png" alt="star review" />
                            <img src="assets/images/star_small.png" alt="star review" />
                            <img src="assets/images/star_small.png" alt="star review" />
                            <img src="assets/images/star_small.png" alt="star review" />                            
                    </span>
      <h5> Estimated wait time <b style="color:#000;"><i>08:12</i></b> </h5>
      <h4 class="opn-tday"> Open Today 9AM - 9PM</h4>

    </div>
  </div>

  <!-- book appointment -->
  <div class="bool-appt-cover">
<!-- 1 -->
      <div class="dropdown service-drop">
        <p>Services</p> 
        <span class="dropdown-toggle service-toggle" data-toggle="dropdown"> Select </span>
          <span class="dropdown-toggle glyphicon glyphicon-chevron-down" data-toggle="dropdown"></span>      
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      <!-- 2 -->
      <div class="dropdown service-drop">
          <p>Stylist</p> 
          <span class="dropdown-toggle service-toggle" data-toggle="dropdown"> Select </span>
          <span class="dropdown-toggle glyphicon glyphicon-chevron-down" data-toggle="dropdown"></span>      
          <ul class="dropdown-menu">
            <li><a href="#">John Doe</a></li>
            <li><a href="#">John Doe</a></li>
            <li><a href="#">John Doe</a></li>
          </ul>
        </div>
        <!-- 3 -->
      <div class="dropdown service-drop">
          <p>No of guests</p> 
          <span class="dropdown-toggle service-toggle" data-toggle="dropdown"> Select </span>
          <span class="dropdown-toggle glyphicon glyphicon-chevron-down" data-toggle="dropdown"></span>      
          <ul class="dropdown-menu">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div>
        <!-- 4 -->
      <div class="dropdown service-drop">
          <p>Date</p> 
          <span class="dropdown-toggle service-toggle" data-toggle="dropdown"> Select </span>
          <span class="dropdown-toggle glyphicon glyphicon-chevron-down" data-toggle="dropdown"></span>      
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
        <!-- 5 -->
      <div class="dropdown service-drop">
          <p>Time Slot</p> 
          <span class="dropdown-toggle service-toggle" data-toggle="dropdown"> Select </span>
          <span class="dropdown-toggle glyphicon glyphicon-chevron-down" data-toggle="dropdown"></span>      
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
  
 
    <button type="button" class="appnt-btn">Book Appointment</button>

  </div>

  <div class="services-offered">
    <div class="beared-outer-cover">
      <h2>Services Offered</h2>
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                            <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                <p>INR 300</p>
                                <p>30 Mins</p>
                            </span>
      </div>
      <!-- 2 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                    <p>INR 300</p>
                                    <p>30 Mins</p>
                                </span>
      </div>
      <!-- 3 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                    <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                        <p>INR 300</p>
                                        <p>30 Mins</p>
                                    </span>
      </div>
      <!-- 4 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                        <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                            <p>INR 300</p>
                                            <p>30 Mins</p>
                                        </span>
      </div>
      <!-- 5 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                            <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                                <p>INR 300</p>
                                                <p>30 Mins</p>
                                            </span>
      </div>
      <!-- 6 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                                <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                                    <p>INR 300</p>
                                                    <p>30 Mins</p>
                                                </span>
      </div>
      <!-- 7 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                                    <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                                        <p>INR 300</p>
                                                        <p>30 Mins</p>
                                                    </span>
      </div>
      <!-- 8 -->
      <div class="beard-styling-cover">
        <span class="beard-cover"> 
                                                        <span class="glyphicon glyphicon-star"></span>
        <p> Beard Styling</p>
        </span>
        <span class="rup-time">
                                                            <p>INR 300</p>
                                                            <p>30 Mins</p>
                                                        </span>
      </div>
      <p class="plus-more"> +8 more</p>

    </div>
    <!-- map area -->
    <div class="service-offered-map">
        <img src="assets/images/map.png" alt="dummy map image" />
    </div>
  </div>
  <!-- about this salon -->
  <div class="about-this-salon-cover">
    <h2> About this Salon/Spa</h2>
    <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
      survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
      survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
  <!-- Reviews section -->
  <div class="reviews-section-cover">
    <span class="show-reviews-count"> <h3> 75 Reviews </h3>
                        <img src="assets/images/star_small.png" alt="star review" />
                        <img src="assets/images/star_small.png" alt="star review" />
                        <img src="assets/images/star_small.png" alt="star review" />
                        <img src="assets/images/star_small.png" alt="star review" />
                        <img src="assets/images/star_small.png" alt="star review" />
                    </span>
    <div class="reviewer-cover">
      <span class="reviewer-details"> <h3>John Doe </h3><p>12 September 2016 </p></span>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <!-- 2 -->
    <div class="reviewer-cover">
      <span class="reviewer-details"> <h3>John Doe </h3><p>12 September 2016 </p></span>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <!-- 3 -->
    <div class="reviewer-cover">
      <span class="reviewer-details"> <h3>John Doe </h3><p>12 September 2016 </p></span>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <!-- 4 -->
    <div class="reviewer-cover">
      <span class="reviewer-details"> <h3>John Doe </h3><p>12 September 2016 </p></span>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <!-- load more -->
    <p class="load-more"> Load More <span class="glyphicon glyphicon-chevron-down"></span></p>
  </div>
</div>
<app-footer></app-footer>
