<article>
  <div class="location"><span class="marker"><i class="glyphicon glyphicon-map-marker"></i></span><span class="distance">3.8 Kms</span></div>
  <div class="clearfix rslt-cover">
    <div class="result-img">
      <img src="assets/images/left-image.png" alt="Page Logo" />
    </div>
    <div class="result-texts">
      <h4>Toni &amp; Guy</h4>
      <p class="address">S17,12th Floor,Lulu Mall,Cochin</p>
      <p class="phone-numbr"><img src="assets/images/phone.png" alt="Phone Icon" />+31 3542 375478</p>
      <span class="star-review-cover clearfix">
                    <img src="assets/images/star_small.png" alt="star icon" />
                    <img src="assets/images/star_small.png" alt="star icon" />
                    <img src="assets/images/star_small.png" alt="star icon" />
                    <img src="assets/images/star_small.png" alt="star icon" />
                    <img src="assets/images/star_small.png" alt="star icon" />
                    <p class="revws-count">75 Reviews</p>       
       </span>
      <span class="button-cover clearfix"> 
                <p>Unisex</p>
                <button (click)="navigate(1)" >Book on</button>
            </span>
    </div>
  </div>
</article>
