<div class="recom-results-cover">
  <div class="result-img">
    <img src="assets/images/left-image.png" alt="Page Logo" />
  </div>
  <div class="result-texts">
    <h4>Toni & Guy</h4>
    <p class="address">S17,12th Floor,Lulu Mall,Cochin</p>
    <p class="phone-numbr"><img src="assets/images/phone.png" alt="Phone Icon" />+31 3542 375478</p>
    <span class="star-review-cover">
                    <img src="assets/images/star_small.png" alt="star icon" />
                    <img src="assets/images/star_small.png" alt="star icon" />
                    <img src="assets/images/star_small.png" alt="star icon" />
                    <img src="assets/images/star_small.png" alt="star icon" />
                    <img src="assets/images/star_small.png" alt="star icon" />
                    <p class="revws-count">75 Reviews</p>       
            </span>

    <span class="button-cover"> 
                <p>Unisex</p>
                <button>Book on</button>
            </span>
  </div>
</div>
