article {
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(161, 161, 161, 0.5);
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 380px;
}

.location {
  position: absolute;
  top: 0;
  left: 0;
  .marker {
    background: linear-gradient(180deg, #52EDC7 0%, #1AD6FD 100%);
    padding: 15px;
    border-bottom-right-radius: 40px;
    vertical-align: middle;
  }
  .glyphicon {
    color: white;
    margin-left: -5px;
    vertical-align: middle;
  }
  .distance {
    vertical-align: middle;
    position: relative;
    top: 7px;
    font-size: 14px;
    font-weight: 600;
  }
}

.result-img {
  float: left;
  margin-right: 25px;
  img {
    border-radius: 50px;
    margin-top: 30px;
  }
}

.result-texts {
  float: left;
  text-align: left;
  max-width: 300px;
  h4 {
    font-size: 20px;
    color: #3B3B3B;
    margin: 0;
  }
  .address {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
  }
  .phone-numbr {
    font-size: 15px;
    img {
      width: 15px;
      margin-right: 5px;
    }
  }
}

.star-review-cover {
  img {
    height: 14px;
    float: left;
    margin-right: 5px;
  }
  .revws-count {
    float: left;
    margin-left: 20px;
  }
}

.button-cover {
  p {
    float: left;
    width: 30%;
    margin: 0;
    padding: 5px;
    color: #2FAEC1;
  }
  button {
    border: none;
    background: #2FAEC1;
    color: #fff;
    float: right;
    padding: 5px 0;
    width: 55%;
  }
}

// for mobile
@media screen and (max-width: 767px) {
  .recom-results-cover {
    float: left;
    text-align: left;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0px 0px 1px rgba(161, 161, 161, 0.5);
    box-shadow: 0px 0px 1px rgba(161, 161, 161, 0.5);
    margin-bottom: 20px;
    padding: 10px;
  }
}
