.recom-results-cover {
  float: left;
  text-align: left;
  background: #fff;
  width: 32.1%;
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 20px 15px;
  h4 {
    font-size: 26px;
    line-height: 33px;
  }
  .result-img {
    float: left;
    margin-right: 20px;
    width: 28%;
    img {
      border-radius: 50px;
      margin-top: 30px;
    }
  }
  .result-texts {
    float: left;
    width: 66%;
    .address {
      margin: 0;
      font-size: 16px;
      line-height: 20px;
    }
    .phone-numbr img {
      width: 6%;
      margin-right: 20px;
    }
    .star-review-cover {
      float: left;
      width: 100%;
      img {
        width: 9%;
        float: left;
      }
      .revws-count {
        float: left;
        margin-left: 20px;
      }
    }
  }
  .button-cover {
    float: left;
    width: 100%;
    border: 1px solid #2FAEC1;
    p {
      float: left;
      width: 30%;
      margin: 0;
      padding: 5px;
      color: #2FAEC1;
    }
    button {
      border: none;
      background: #2FAEC1;
      color: #fff;
      float: right;
      padding: 5px 0;
      width: 55%;
    }
  }
}
