<!DOCTYPE html>
<html>
    <head>
        <title>Landing Page</title>
        <meta name="nviewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/landing-style.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">    
            
    </head>
    <body>
        <div class="container">
            <div class="row">
                <!-- header portion -->
            <div class="header-portion">
                <span class="site-logo-cover">
                  <img src="assest/logo.png" alt="Page Logo" />
               </span>
                <p class="site-tile">Book Salon & Spa Appointments</p>
                <div class="col-sm-6 col-sm-offset-3">
                        <div class="search-box-cover">
                            <!-- dropdown box  -->
                                <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                          <li><a href="#">HTML</a></li>
                                          <li><a href="#">CSS</a></li>
                                          <li><a href="#">JavaScript</a></li>
                                        </ul>
                                      </div>
                                      <!-- search box -->
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control"  placeholder="Search by area,service or brand"> 
                                <span class="input-group-addon">
                                    <button class="btn btn-primary" type="submit"> Search </button>       </span>
                            </div>
                        </div>
                    </div>
                    <!-- listed para -->
                    <p class="list-para"> 13,364 listed spas & salons</p>
                    <span class="mobile-image-cover"> 
                      <img src="assest/mobile.png" alt="Mobile Image" />
                    </span>
            </div>
            <!-- how it works -->
            <div class="how-it-work-cover">
                <h3 class="how-it-title">How it Works</h3>
                <div class="coln-1 coln">
                    
                </div>
                <div class="coln-2 coln">
                        <img class="numbr" src="assest/1.png" alt="Number Flow icon" />
                        <div class="download-the-app">
                                <img src="assest/download.png" alt="Page Logo" />
                                <h5 class="coln-title">Download the app</h5>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of </p>

                        </div>                        
                </div>
                <div class="coln-3 coln">
                        
                        <div class="download-the-app">
                                <img src="assest/scissors.png" alt="Page Logo" />
                                <h5 class="coln-title">Choose Spa/Salon</h5>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of </p>

                    </div>
                </div>
                <div class="coln-4 coln">
                        <img class="numbr" src="assest/1.png" alt="Number Flow icon" /> 
                </div>
                <div class="coln-5 coln">
                     
                </div>
                <div class="coln-6 coln">
                        <img class="numbr" src="assest/1.png" alt="Number Flow icon" />
                        <div class="download-the-app">
                                <img src="assest/calendar.png" alt="Page Logo" />
                                <h5 class="coln-title">Select your Schedule</h5>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of </p>

                        </div>
                        
                </div>
                
                <div class="thats-it-cover">
                        <img class="numbr" src="assest/1.png" alt="Number Flow icon" />
                    <h4>That's it!</h4>
                    <p>Your appointment is now set.All you have to do is just how up on the time.<br>Loreum Ipsum dolor sit amet,consectetur adipisicing ehit,</p>
                </div>

            </div>
            <!-- our recommedations cover -->
            <div class="our-recom-cover">
                <h2>Our Recommendations</h2>
                <h5>Based on your location</h5>
                <!-- recom-results -->
                <div class="recom-results-cover">
                    <div class="result-img">                            
                            <img src="assest/left-image.png" alt="Page Logo" />
                    </div>
                    <div class="result-texts">
                        <h4>Toni & Guy</h4>
                        <p class="address">S17,12th Floor,Lulu Mall,Cochin</p>
                        <p class="phone-numbr"><img src="assest/phone.png" alt="Phone Icon" />+31 3542 375478</p>                       
                        <span class="star-review-cover">
                                <img src="assest/star_small.png" alt="star icon" />
                                <img src="assest/star_small.png" alt="star icon" />
                                <img src="assest/star_small.png" alt="star icon" />
                                <img src="assest/star_small.png" alt="star icon" />
                                <img src="assest/star_small.png" alt="star icon" />
                                <p class="revws-count">75 Reviews</p>       
                        </span>
                        
                        <span class="button-cover"> 
                            <p>Unisex</p>
                            <button>Book on</button>
                        </span>                        
                    </div>
                </div>
                <!-- 2 result -->
                <div class="recom-results-cover">
                        <div class="result-img">                            
                                <img src="assest/left-image.png" alt="Page Logo" />
                        </div>
                        <div class="result-texts">
                            <h4>Toni & Guy</h4>
                            <p class="address">S17,12th Floor,Lulu Mall,Cochin</p>
                            <p class="phone-numbr"><img src="assest/phone.png" alt="Phone Icon" />+31 3542 375478</p>
                            <p class="star-review-cover">
                                    <img src="assest/star_small.png" alt="star icon" />
                                    <img src="assest/star_small.png" alt="star icon" />
                                    <img src="assest/star_small.png" alt="star icon" />
                                    <img src="assest/star_small.png" alt="star icon" />
                                    <img src="assest/star_small.png" alt="star icon" />
                            </p>
                            <span class="button-cover"> 
                                <p>Unisex</p>
                                <button>Book on</button>
                            </span>                        
                        </div>
                    </div>
                    <!-- 3 result -->
                    <div class="recom-results-cover">
                            <div class="result-img">                            
                                    <img src="assest/left-image.png" alt="Page Logo" />
                            </div>
                            <div class="result-texts">
                                <h4>Toni & Guy</h4>
                                <p class="address">S17,12th Floor,Lulu Mall,Cochin</p>
                                <p class="phone-numbr"><img src="assest/phone.png" alt="Phone Icon" />+31 3542 375478</p>                               
                                <p class="star-review-cover">
                                        <img src="assest/star_small.png" alt="star icon" />
                                        <img src="assest/star_small.png" alt="star icon" />
                                        <img src="assest/star_small.png" alt="star icon" />
                                        <img src="assest/star_small.png" alt="star icon" />
                                        <img src="assest/star_small.png" alt="star icon" />
                                </p>
                                <span class="button-cover"> 
                                    <p>Unisex</p>
                                    <button>Book on</button>
                                </span>                        
                            </div>
                        </div>
                
            </div>
            <!-- get the app on  -->
            <div class="get-app-cover">
                <h5>Get the app on</h5>
                <p> Got questions? <b>Call 888-253-01234! </b></p>
                <h6>2016 WaitNahi All rights reserved</h6>

            </div>
        </div>
        </div>

    </body>
    <script text="javascript" src="js/jquery.min.js"></script>
    <script text="javascript" src="js/bootstrap.min.js"></script>    
    <script text="javascript" src="js/index.js"></script>
</html>